@{
    ViewData["Title"] = "Formas de Pagamento";
}
<div class="row justify-content-center mt-3">
    <div class="card col-10">
        <div class="card-subtitle ml-4 mt-3">
            <div class="row d-flex align-items-center">
                <div class="col-1">
                    <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="32" cy="32" r="32" fill="#EEEEEE"></circle>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M52 31.0807C52 23.8745 43.0462 18 32.0011 18C20.9559 18 12.0021 23.8745 12.0021 31.0807C12.0021 31.2667 12 31.7807 12 31.8464C12 39.4922 19.8257 45.6832 31.9983 45.6832C44.2452 45.6832 52 39.4931 52 31.8477C52 31.5808 52 31.4271 52 31.0807Z" fill="#2D3277"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M51.2341 31.0745C51.2341 37.8682 42.6245 43.3761 32.0045 43.3761C21.3838 43.3761 12.7749 37.8682 12.7749 31.0745C12.7749 24.2804 21.3838 18.7725 32.0045 18.7725C42.6245 18.7725 51.2341 24.2804 51.2341 31.0745Z" fill="#00B1EA"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.6192 27.1929C25.609 27.2122 25.4176 27.4106 25.5418 27.5704C25.8453 27.9578 26.7826 28.1799 27.7305 27.9677C28.2948 27.8408 29.0184 27.2653 29.719 26.7094C30.4784 26.1061 31.2315 25.5019 31.9891 25.262C32.791 25.0066 33.3047 25.1161 33.6442 25.2186C34.0171 25.3298 34.4549 25.5749 35.1531 26.0992C36.4693 27.0883 41.7596 31.706 42.674 32.5046C43.4099 32.1721 46.6821 30.7636 51.1285 29.7838C50.7421 27.413 49.3004 25.2442 47.1132 23.4685C44.065 24.7486 40.3409 25.4163 36.6984 23.6376C36.6798 23.6298 34.7087 22.697 32.7639 22.7428C29.8743 22.8101 28.6219 24.0606 27.2972 25.3847L25.6192 27.1929Z" fill="#FFFFFE"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M42.4592 33.007C42.3971 32.9515 36.2382 27.5626 34.8427 26.5141C34.035 25.9084 33.5864 25.7538 33.1149 25.6938C32.8692 25.6621 32.5301 25.7073 32.2928 25.7725C31.644 25.9491 30.7951 26.5165 30.0414 27.114C29.2615 27.7354 28.5256 28.3205 27.8433 28.4734C26.9712 28.669 25.9061 28.4381 25.4201 28.1095C25.2235 27.9771 25.0849 27.8243 25.0182 27.6687C24.8388 27.2527 25.1699 26.9199 25.2241 26.8641L26.9235 25.0254C27.1213 24.8288 27.3206 24.6314 27.5241 24.4369C26.9757 24.5084 26.4689 24.6486 25.9751 24.7857C25.3595 24.9591 24.7668 25.124 24.1678 25.1234C23.9178 25.1234 22.5772 24.9036 22.323 24.8349C20.7846 24.4137 19.4349 24.004 17.4183 23.0625C15.002 24.8608 13.3864 27.1098 12.9194 29.587C13.2667 29.679 13.826 29.8457 14.0611 29.8972C19.529 31.1134 21.232 32.3657 21.541 32.6271C21.8754 32.2551 22.358 32.0196 22.8964 32.0196C23.5018 32.0202 24.0466 32.3241 24.3782 32.7941C24.6914 32.5469 25.1231 32.335 25.6815 32.3356C25.935 32.3356 26.1979 32.3826 26.4635 32.4727C27.0806 32.6847 27.399 33.0953 27.5639 33.467C27.771 33.3735 28.0254 33.3045 28.3251 33.3054C28.619 33.3054 28.9256 33.3726 29.2344 33.5059C30.2425 33.9388 30.3996 34.9289 30.3079 35.6756C30.3797 35.6672 30.4523 35.6636 30.5256 35.6636C31.7206 35.6645 32.6929 36.6361 32.6926 37.8321C32.6926 38.202 32.5982 38.5502 32.4333 38.8556C32.7586 39.0383 33.5877 39.4522 34.3157 39.3596C34.8973 39.2864 35.1179 39.0877 35.1969 38.9762C35.2512 38.899 35.3082 38.8091 35.2551 38.7449L33.7125 37.031C33.7125 37.031 33.4583 36.7908 33.5424 36.6979C33.6293 36.6029 33.786 36.7395 33.8973 36.8321C34.6826 37.4878 35.6407 38.4775 35.6407 38.4775C35.6573 38.4884 35.7206 38.6138 36.0754 38.6774C36.3805 38.732 36.9208 38.7003 37.2946 38.3928C37.389 38.315 37.4833 38.2186 37.5626 38.1185C37.556 38.1236 37.5508 38.1302 37.5451 38.1323C37.9394 37.6274 37.5011 37.1167 37.5011 37.1167L35.7004 35.0941C35.7004 35.0941 35.4423 34.8559 35.5301 34.76C35.6084 34.6771 35.7743 34.8025 35.8873 34.8963C36.4571 35.3732 37.2632 36.1818 38.0353 36.9382C38.1864 37.0485 38.8647 37.4685 39.7637 36.8782C40.3093 36.5203 40.4185 36.0811 40.4031 35.7495C40.3651 35.3105 40.0229 34.9976 40.0229 34.9976L37.5626 32.524C37.5626 32.524 37.3024 32.3021 37.3944 32.19C37.4697 32.0956 37.638 32.2316 37.7489 32.3241C38.5324 32.9798 40.6539 34.9252 40.6539 34.9252C40.6847 34.9466 41.4176 35.4685 42.3235 34.8918C42.6476 34.6844 42.8544 34.3723 42.8722 34.0097C42.9026 33.3805 42.4592 33.007 42.4592 33.007Z" fill="#FFFFFE"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M30.5252 36.1427C30.1436 36.1381 29.7263 36.3648 29.6721 36.3317C29.6416 36.3118 29.6953 36.1586 29.7308 36.0703C29.7673 35.9823 30.2702 34.4704 29.0453 33.9455C28.108 33.5427 27.5352 33.9958 27.338 34.2002C27.2868 34.2539 27.2633 34.2497 27.2575 34.1813C27.2386 33.9093 27.1171 33.1728 26.3079 32.9259C25.1517 32.5723 24.4086 33.3787 24.2202 33.67C24.1355 33.0112 23.5786 32.4996 22.8961 32.499C22.1551 32.4984 21.5536 33.0993 21.5527 33.84C21.5527 34.5813 22.1533 35.1822 22.8946 35.1822C23.2549 35.1831 23.5817 35.039 23.8225 34.8077C23.8304 34.8147 23.8331 34.8273 23.8295 34.8532C23.7731 35.1849 23.6691 36.3908 24.932 36.8816C25.4384 37.0784 25.869 36.9322 26.2262 36.6817C26.3326 36.6066 26.3498 36.6386 26.3344 36.7384C26.2892 37.0483 26.3468 37.7124 27.2777 38.0899C27.9862 38.3778 28.4053 38.0835 28.6802 37.8297C28.7993 37.7206 28.8322 37.7381 28.8382 37.9069C28.8719 38.8041 29.6178 39.5168 30.5231 39.5177C31.4562 39.5186 32.212 38.7646 32.2123 37.8318C32.2132 36.8991 31.4577 36.1526 30.5252 36.1427Z" fill="#FFFFFE"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M30.5253 39.3975C29.6796 39.3966 28.9926 38.74 28.9612 37.9025C28.9591 37.831 28.9519 37.6402 28.7903 37.6402C28.724 37.6402 28.6664 37.68 28.5998 37.74C28.4143 37.9121 28.1774 38.0876 27.8313 38.0876C27.6748 38.0876 27.5045 38.0508 27.3251 37.9775C26.4324 37.6161 26.4201 37.0026 26.4566 36.756C26.4662 36.6905 26.4695 36.6218 26.424 36.5687L26.3694 36.5193H26.3137C26.2681 36.5193 26.2214 36.538 26.1584 36.5826C25.9 36.7641 25.6525 36.8518 25.4008 36.8518C25.2621 36.8518 25.1198 36.8241 24.9775 36.7692C23.8021 36.3119 23.8949 35.2025 23.9522 34.8687C23.9607 34.8009 23.9441 34.7484 23.901 34.7138L23.8181 34.6453L23.7403 34.7195C23.5112 34.9402 23.2118 35.0611 22.8967 35.0611C22.2236 35.0602 21.6755 34.5136 21.6761 33.8401C21.6764 33.1666 22.2251 32.62 22.8983 32.6209C23.5063 32.6209 24.0246 33.0783 24.102 33.686L24.1443 34.0137L24.3242 33.7364C24.3444 33.7038 24.8376 32.9583 25.7445 32.9592C25.9169 32.9592 26.0948 32.9869 26.2745 33.0421C26.9974 33.2631 27.1195 33.9182 27.1385 34.1913C27.1512 34.3505 27.2645 34.358 27.2868 34.358C27.3492 34.358 27.3951 34.3185 27.4279 34.2845C27.5642 34.1422 27.8614 33.9049 28.3263 33.9049C28.5392 33.9058 28.7656 33.9562 28.9992 34.0569C30.1484 34.5498 29.6272 36.0098 29.6208 36.0249C29.5223 36.2667 29.5183 36.3737 29.6112 36.4355L29.6561 36.4572H29.6896C29.7417 36.4572 29.8063 36.4346 29.9124 36.3984C30.0688 36.3444 30.3046 36.2634 30.5256 36.2637H30.5262C31.3908 36.273 32.0945 36.9769 32.0939 37.8319C32.0932 38.6957 31.3896 39.3975 30.5253 39.3975ZM42.6973 32.3614C40.8001 30.706 36.4155 26.8941 35.228 26.003C34.5494 25.4923 34.0866 25.223 33.6808 25.1018C33.4981 25.0467 33.2455 24.9843 32.9205 24.9837C32.6184 24.9837 32.294 25.0382 31.9555 25.1462C31.1876 25.3888 30.4234 25.9966 29.6839 26.5845L29.6456 26.6146C28.9567 27.1621 28.2446 27.7286 27.7059 27.8489C27.4707 27.9016 27.2289 27.9291 26.9878 27.9291C26.3842 27.9282 25.8422 27.7542 25.639 27.495C25.6052 27.4521 25.6269 27.3831 25.7053 27.283L25.7158 27.2701L27.3848 25.4711C28.6917 24.164 29.9265 22.9297 32.7689 22.8643C32.8156 22.8628 32.8641 22.8622 32.9108 22.8622C34.6799 22.8631 36.4481 23.6551 36.6467 23.747C38.3054 24.5562 40.0178 24.9671 41.7386 24.9686C43.5324 24.9689 45.3832 24.5251 47.3289 23.6291C47.1115 23.4461 46.8854 23.2683 46.653 23.094C44.9433 23.8347 43.315 24.2092 41.7435 24.2089C40.1381 24.2074 38.5352 23.8221 36.9783 23.0627C36.8963 23.0235 34.9437 22.1025 32.9118 22.1016C32.8584 22.1016 32.8044 22.1025 32.7514 22.1034C30.364 22.1594 29.0194 23.0069 28.115 23.7497C27.2356 23.7711 26.4765 23.9831 25.8012 24.1718C25.1988 24.3394 24.6788 24.4844 24.1714 24.4841C23.9622 24.4841 23.5859 24.4651 23.5525 24.4636C22.9685 24.4458 20.0285 23.725 17.6903 22.8396C17.4515 23.0087 17.2218 23.183 16.9981 23.3611C19.4409 24.3626 22.4138 25.1371 23.3526 25.198C23.6134 25.2149 23.8916 25.2444 24.1699 25.245C24.7906 25.245 25.4101 25.0711 26.0095 24.9032C26.3637 24.804 26.7547 24.6958 27.1653 24.6171C27.0559 24.7247 26.9465 24.8341 26.8364 24.9439L25.1406 26.7783C25.0074 26.9131 24.7174 27.2722 24.9088 27.7153C24.9845 27.8938 25.1388 28.0647 25.3544 28.2101C25.7587 28.482 26.4822 28.6662 27.1542 28.6665C27.4089 28.6671 27.6507 28.6412 27.8723 28.5914C28.5832 28.4322 29.3287 27.838 30.1186 27.2101C30.7478 26.7102 31.6422 26.0753 32.3266 25.889C32.5177 25.8368 32.7529 25.8043 32.9416 25.8043C32.9983 25.8049 33.0513 25.8067 33.1011 25.8139C33.5533 25.8712 33.9907 26.025 34.7712 26.611C36.1632 27.6568 42.3229 33.0451 42.3829 33.0982C42.3868 33.1015 42.7799 33.4403 42.7525 34.0038C42.7377 34.3176 42.5635 34.5965 42.2605 34.79C41.9976 34.9571 41.7263 35.0418 41.4522 35.0418C41.0404 35.0409 40.757 34.8482 40.7383 34.835C40.7157 34.8166 38.6051 32.8814 37.8288 32.2314C37.7052 32.1289 37.5852 32.0364 37.4637 32.0364C37.3989 32.0361 37.3413 32.0641 37.3024 32.1123C37.1803 32.2631 37.3172 32.4717 37.4782 32.6089L39.9434 35.0867C39.947 35.0894 40.2506 35.3743 40.284 35.7545C40.3033 36.1654 40.1071 36.5088 39.6986 36.7765C39.4079 36.9682 39.1134 37.0653 38.8249 37.0653C38.4459 37.0653 38.1806 36.8931 38.1218 36.8518L37.7679 36.5036C37.1222 35.8675 36.4547 35.2103 35.966 34.8024C35.8469 34.7035 35.72 34.6119 35.5985 34.6119C35.5385 34.6119 35.4848 34.6342 35.4432 34.6779C35.3878 34.7397 35.3489 34.8509 35.4879 35.0354C35.5448 35.1114 35.6124 35.1741 35.6124 35.1741L37.4113 37.1952C37.426 37.2133 37.7818 37.6357 37.4517 38.0571L37.3884 38.1376C37.3344 38.1973 37.2762 38.2519 37.221 38.2992C36.9141 38.5509 36.5044 38.5775 36.3419 38.5775C36.2551 38.5775 36.1713 38.5702 36.0986 38.557C35.9214 38.5253 35.8017 38.4759 35.7441 38.4077L35.7221 38.3848C35.6241 38.2832 34.7173 37.3577 33.9672 36.7312C33.8683 36.6483 33.7447 36.544 33.6175 36.544C33.5542 36.544 33.4981 36.5687 33.455 36.6167C33.3064 36.7792 33.5295 37.0225 33.6235 37.1114L35.158 38.8033C35.1562 38.8184 35.1372 38.8533 35.0999 38.9067C35.045 38.9824 34.859 39.1687 34.3025 39.2386C34.2355 39.2473 34.1668 39.251 34.0987 39.251C33.5246 39.251 32.9127 38.9724 32.597 38.8051C32.7405 38.5018 32.815 38.1678 32.815 37.8328C32.8156 36.5696 31.79 35.5425 30.5277 35.5416C30.5006 35.5416 30.4716 35.5425 30.4448 35.5434C30.4861 34.967 30.4044 33.8751 29.2841 33.3945C28.9612 33.2549 28.6398 33.1841 28.3272 33.1841C28.0821 33.1841 27.847 33.226 27.6257 33.3107C27.3933 32.8594 27.008 32.5308 26.5048 32.3593C26.2271 32.2631 25.9507 32.2145 25.6833 32.2145C25.2169 32.2145 24.7876 32.352 24.4044 32.6242C24.0369 32.1678 23.4825 31.8974 22.8989 31.8974C22.3879 31.8974 21.8962 32.1018 21.532 32.4627C21.0544 32.0979 19.16 30.8947 14.0892 29.7434C13.8435 29.687 13.28 29.526 12.9348 29.425C12.8778 29.6993 12.8338 29.9767 12.8052 30.2571C12.8052 30.2571 13.7404 30.4808 13.924 30.5224C19.1042 31.6725 20.816 32.869 21.1051 33.0951C21.0068 33.3306 20.9562 33.5844 20.9559 33.8401C20.955 34.91 21.8253 35.7819 22.8961 35.7828C23.0161 35.7828 23.1352 35.7722 23.2522 35.7508C23.4135 36.538 23.9287 37.1349 24.7165 37.4415C24.9465 37.5298 25.1792 37.5754 25.4077 37.5754C25.5558 37.5757 25.7044 37.5573 25.85 37.5202C25.9953 37.8892 26.3224 38.3499 27.0541 38.6471C27.3109 38.7505 27.5672 38.8042 27.8165 38.8042C28.0203 38.8042 28.2193 38.7683 28.4092 38.699C28.7598 39.5527 29.5943 40.1183 30.5247 40.1183C31.1412 40.1192 31.7333 39.8681 32.1644 39.4237C32.5343 39.629 33.3145 40.0007 34.1023 40.0016C34.2045 40.0016 34.3 39.9947 34.3959 39.9832C35.1779 39.8841 35.5427 39.5784 35.7097 39.3402C35.7402 39.2986 35.7673 39.2546 35.7908 39.2085C35.9756 39.2621 36.1788 39.3055 36.4116 39.3058C36.8388 39.3058 37.2491 39.1599 37.6633 38.8581C38.0709 38.5645 38.3609 38.1427 38.4025 37.784C38.4034 37.7789 38.4037 37.7734 38.4043 37.7683C38.5421 37.7967 38.6826 37.8108 38.8234 37.8108C39.2635 37.8108 39.6967 37.6737 40.1101 37.4029C40.9081 36.8799 41.0461 36.1964 41.0332 35.7493C41.1731 35.7783 41.3157 35.7934 41.4571 35.7934C41.8707 35.7934 42.2762 35.6688 42.6624 35.4225C43.1571 35.1066 43.4549 34.6221 43.5005 34.059C43.5309 33.6764 43.4362 33.2899 43.2343 32.958C44.5713 32.3822 47.6264 31.2673 51.2245 30.4566C51.2031 30.1775 51.1627 29.9019 51.1127 29.6276C46.7588 30.5938 43.5107 31.9993 42.6973 32.3614Z" fill="#2D3277"></path>
                    </svg>
                </div>
                <div class="col">
                    <p>Pagamentos com <strong>Mercado Pago</strong>. É rápido, seguro e não tem custo adicional.</p>
                </div>
            </div>
        </div>
        <div class="card-body ml-4">
            <div class="row">
                <div class="text-center">
                    <strong>Cartões de crédito</strong>
                </div>
            </div>
            <div class="row">
                <label>Aprovação imediata e em até 3x com juros.</label>
            </div>
            <div class="row">
                <div class="figure-img mr-1 ml-1">
                    <img decoding="async" src="https://http2.mlstatic.com/storage/logos-api-admin/d589be70-eb86-11e9-b9a8-097ac027487d-m.svg" alt="Visa">
                </div>
                <div class="figure-img mr-1 ml-1">
                    <img decoding="async" src="https://http2.mlstatic.com/storage/logos-api-admin/af299100-eb87-11e9-826d-3b99bc547094-m.svg" alt="Mastercard">
                </div>
                <div class="figure-img mr-1 ml-1">
                    <img decoding="async" src="https://http2.mlstatic.com/storage/logos-api-admin/ddf23a60-f3bd-11eb-a186-1134488bf456-m.svg" alt="Hipercard">
                </div>
                <div class="figure-img mr-1 ml-1">
                    <img decoding="async" src="https://http2.mlstatic.com/storage/logos-api-admin/b2c93a40-f3be-11eb-9984-b7076edb0bb7-m.svg" alt="American Express">
                </div>
                <div class="figure-img mr-1 ml-1">
                    <img decoding="async" src="https://http2.mlstatic.com/storage/logos-api-admin/ed8d6fd0-f3bd-11eb-9984-b7076edb0bb7-m.svg" alt="Elo">
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="text-center">
                    <strong>Dinheiro na sua conta do Mercado Pago</strong>
                </div>
            </div>
            <div class="row">
                <label>Ao finalizar sua compra, você pagará com saldo disponível na sua conta. Você pode depositar dinheiro em Mercado Pago via transferência, cartão virtual Caixa, lotérica ou boleto.</label>
                <label>Aprovação imediata.</label>
            </div>
            <div class="row">
                <div class="figure-img mr-1 ml-1">
                    <img decoding="async" src="https://http2.mlstatic.com/storage/logos-api-admin/b4534650-571b-11e8-95d8-631c1a9a92a9-m.svg" alt="Dinheiro na minha conta do MercadoPago&quot;">
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="text-center">
                    <strong>Cartões de débito</strong>
                </div>
            </div>
            <div class="row">
                <label>Aprovação imediata.</label>
            </div>
            <div class="row">
                <div class="figure-img mr-1 ml-1">
                    <img decoding="async" src="https://http2.mlstatic.com/storage/logos-api-admin/6c392c40-eaf7-11eb-826e-6db365b9e0dd-m.svg" alt="Santander Rio">
                </div>
                <div class="figure-img mr-1 ml-1">
                    <img decoding="async" src="https://http2.mlstatic.com/storage/logos-api-admin/af299100-eb87-11e9-826d-3b99bc547094-m.svg" alt="Mastercard">
                </div>
                <div class="figure-img mr-1 ml-1">
                    <img decoding="async" src="https://http2.mlstatic.com/storage/logos-api-admin/d2407420-f3bd-11eb-8e0d-6f4af49bf82e-m.svg" alt="Caixa">
                </div>
                <div class="figure-img mr-1 ml-1">
                    <img decoding="async" src="https://http2.mlstatic.com/storage/logos-api-admin/d589be70-eb86-11e9-b9a8-097ac027487d-m.svg" alt="Visa">
                </div>
                <div class="figure-img mr-1 ml-1">
                    <img decoding="async" src="https://http2.mlstatic.com/storage/logos-api-admin/ed8d6fd0-f3bd-11eb-9984-b7076edb0bb7-m.svg" alt="Elo">
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="text-center">
                    <strong>Pix</strong>
                </div>
            </div>
            <div class="row">
                <label>Aprovação imediata.</label>
            </div>
            <div class="row">
                <div class="figure-img mr-1 ml-1">
                    <img decoding="async" src="https://http2.mlstatic.com/storage/logos-api-admin/f99fcca0-f3bd-11eb-9984-b7076edb0bb7-m.svg" alt="Pix">
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="text-center">
                    <strong>Boleto bancário</strong>
                </div>
            </div>
            <div class="row">
                <label>Ao comprar, explicaremos como fazer o pagamento em qualquer agência bancária, caixa eletrônico, Internet Banking ou correspondentes bancários.</label>
            </div>
            <div class="row">
                <div class="figure-img mr-1 ml-1">
                    <img decoding="async" src="https://http2.mlstatic.com/storage/logos-api-admin/c53bc810-f3bd-11eb-8e0d-6f4af49bf82e-m.svg" alt="Boleto">
                </div>
            </div>
        </div>
    </div>
</div>
